@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextrabold.woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/gilroylight.woff2"),
    url("../fonts/gilroylight.woff");
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
 /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Header */

.header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 21px;
  background-image: linear-gradient(to bottom,#ffffff 19px, #f7e296 19px);
}

.header__container {
  padding: 0 60px;
}

.header__logo {
  margin-bottom: 19px;
}

.logo {
  width: 165px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.search__form {
  display: flex;
}

.search__input {
  padding: 0;
  border: none;
  background-color: #f7e296;
  opacity: 0.3;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
}

.search__input:hover {
  opacity: 0.6;
}

.search__input:focus {
  opacity: 1;
}

.search__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 16px;
  padding-top: 3px;
  padding-left: 3px;
}

.header__user-block {
  margin-left: auto;
  width: 48%;
}

.user-menu,
.user-menu__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu__item {
  margin-left: 41px;
}

.user-menu__item--login {
  margin-left: 0;
}

.user-menu__img {
  margin-right: 6px;
}

.user-menu__link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.user-menu__link::before {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 35px;
  height: 20px;
  content: "";
}

.header__nav {
  padding: 0 57px 47px 55px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.header-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.nav__catalog-menu {
  padding-left: 5px;
}

.catalog__list {
  flex-direction: column;
  padding-bottom: 34px;
  margin-right: 74px;
}

.catalog__list:first-child {
  margin-right: 58px;
}

.catalog__wrapper {
  position: absolute;
  left: -55px;
  top: calc(100% + 18px);
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  width: 1160px;
  pointer-events: none;
  opacity: 0;
  background-color: #f7e296;
  transition: 300ms ease-out;
}

.catalog__container:hover .catalog__wrapper {
  opacity: 1;
  pointer-events: all;
}

.catalog__img {
  position: absolute;
  top: 7px;
  right: -27px;
  transition: 300ms ease-out;
}

.catalog__container:hover .catalog__img {
  transform: rotate(90deg);
}

.catalog__title,
.info-menu__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.catalog__link {
  text-decoration: none;
  color: #000000;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.catalog__container::before {
  content: "";
  position: absolute;
  width: 120%;
  height: calc(100% + 30px);
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.info-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 48%;
}

.info-menu__item:first-child {
  margin-right: 34px;
}

.info-menu__item:last-child {
  margin-left: auto;
}

.logo:hover,
.logo:focus,
.catalog__title:hover,
.catalog__title:focus,
.catalog__link:hover,
.catalog__link:focus,
.info-menu__link:hover,
.info-menu__link:focus,
.user-menu__item:hover,
.user-menu__item:focus {
  opacity: 0.6;
}

.logo:active,
.catalog__title:active,
.catalog__link:active,
.info-menu__link:active,
.user-menu__item:active {
  opacity: 0.3;
}
