.filter__legend {
  @include font-params(18px, 800, 1.33, 0.01em, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
  position: relative;
}

.filter__legend::before {
  position: absolute;
  top: -13px;
  width: 201px;
  height: 2px;
  background-color: $color-black;
  content: '';
}
