.search__button {
  display: none;
  width: 85px;
  height: 100%;
  padding: 0;
  border: 2px solid $color-black;
  background-color: $color-sweetcorn;
  transition: $transition;
}

.search__button:hover {
  background-color: $color-black;
  color: $color-white;
}

.search__button:active {
  background-color: $color-black;
  opacity: 0.3;
}

.search__input:focus + .search__button,
.search__input:valid + .search__button {
  display: block;
}
