.slider-services__input--delivery:checked ~ .slider-services__menu .slider-services__label--delivery {
  background-color: $color-black;
  color: $color-main;
}

.slider-services__input--delivery:checked ~ .slider-services__menu .slider-services__label--delivery::after {
  background-color: $color-black;
}

#slider-label--delivery {
  background-color: transparent;
  color: $color-black;
}

#slider-label--delivery::after {
  background-color: transparent;
}
