.slider-product__info-number {
  position: absolute;
  top: -12px;
  right: 68px;
  max-width: 410px;
  max-height: 150px;
  overflow: hidden;
  @include font-params (179px, 800, 1, normal, $color-white);
  font-family: "Gilroy", "Arial", sans-serif;
}
