body {
  background-color: green;
}

.header {
  background-color: green;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.header .logo {
  color: green;
}

.header a {
  color: darkcyan;
}
