.search__input {
  padding: 5px 5px 5px 38px;
  min-width: 341px;
  height: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font-family: "OpenSans", "Arial", sans-serif;
  @include font-params();
  color: rgba(0, 0, 0, 0.3);
}

.search__input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:focus {
  color: $color-black;
  border-bottom: 2px solid $color-black;
}
