.slider-services__input--warranty:checked ~ .slider-services__menu .slider-services__label--warranty {
  background-color: $color-black;
  color: $color-main;
}

.slider-services__input--warranty:checked ~ .slider-services__menu .slider-services__label--warranty::after {
  background-color: $color-black;
}
