.category__breadcrumbs-item {
  position: relative;
  margin-right: 37px;
  list-style: none;
}

.category__breadcrumbs-item::before {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
}

.category__breadcrumbs-item:first-child::before {
  background-image: none;
}
