.categories__title {
  @include flex;
  @include font-params(18px, 800, 1.33, 0.01em, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
  transition: $transition;
}

.categories__link:active .categories__title {
  opacity: 0.3;
}
