.button {
  @include flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  @include font-params(18px, 800, 1.33, 0.2em, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
  background-image: linear-gradient(to bottom, $color-white 45%, $color-supernova 45%, $color-supernova 55%, $color-white 55%);
  text-transform: uppercase;
  transition: $transition;
}

.button:hover,
.button:focus {
  background-image: linear-gradient($color-supernova);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

