.slider-product__info-title {
  z-index: 0;
  @include reset-indents;
  @include font-params(47px, 800, 1.19, 0.01em, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
  width: 83%;
  margin-top: 82px;
  margin-bottom: 20px;
}
