.modal-feedback__label {
  @include flex;
  flex-direction: column;
  margin-right: 40px;
  max-width: calc(100%/2 - 20px);
  @include font-params(18px, 800, 1.33, normal, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
}

.modal-feedback__label:last-child {
  margin-right: 0;
}
