.slider-product__table-data {
  padding: 0 0 7px;
  max-width: 170px;
  font-family: "Gilroy", "Arial", sans-serif;
  @include font-params(36px, 300, 1.33, normal, $color-black);
}

.slider-product__table-data:first-child {
  width: 32%;
}

.slider-product__table-data:nth-child(3) {
  width: 40%;
}
