.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  animation-name: popupshow;
  animation-duration: 500ms;
}
