.filter__title {
  @include reset-indents;
  width: 359px;
  margin-left: auto;
  padding: 10px 10px 10px 90px;
  @include flex;
  align-items: center;
  min-height: 70px;
  @include font-params(16px, 800, 1.5, 0.2em, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #d9d9d9;
}
