.slider-services__label {
  width: 160px;
}

.slider-services__label::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider-services__label:hover {
  background-color: $color-black;
  color: $color-main;
}

.slider-services__label:hover::after {
  background-color: $color-black;
}

.slider-services__label--hover {
  background-color: $color-black;
  color: $color-main;
}

.slider-services__label--hover::after {
  background-color: $color-black;
}
