.manufacturers__image {
  object-fit: contain;
  opacity: 0.2;
  filter: grayscale(1);
  transition: $transition;
}

.manufacturers__image:hover,
.manufacturers__link:focus .manufacturers__image{
  opacity: 1;
  filter: grayscale(0);
}
