.slider-products__inner {
  position: relative;
  z-index: -1;
  min-height: 113px;
  background-color: $color-main;
}

.slider-products__inner::before {
  content: '';
  position: absolute;
  top: 35%;
  right: 40%;
  width: 100px;
  height: 7px;
  background-color: $color-white;
}
