$color-white: #ffffff;
$color-tundora: #464646;
$color-mercury: #e5e5e5;
$color-saffron: #f0c52e;
$color-black: #000000;
$color-supernova: #ffc600;
$color-sweetcorn: #f5e09d;

$transition: 300ms ease-out;





