.category-pagination__link {
  padding: 20px 30px;
  max-width: 200px;
  @include font-params(16px, 800, 1.5, 0.2em, $color-black);
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
}

.category-pagination__link:hover,
.category-pagination__link:focus {
  background-color: #d9d9d9;
}

.category-pagination__link:active {
  color: rgba($color-black, 0.3);
}
