$header-color: green;
$bg-color: green;

body {
  background-color: $bg-color;
}
.header {
  background-color: $header-color;
  display: flex;
  justify-content: space-around;

  .logo {
    color: $bg-color;
  }

  a {
    color: darkcyan;
  }
}
