.slider-product__radio--watch:checked ~ .slider-product--watch .slider-product__paginator-label--watch::after {
  border: 1px solid $color-black;
}

.slider-product__radio--watch:focus ~ .slider-product--watch .slider-product__paginator-label--watch {
  outline-offset: -2px;
  outline: $color-saffron auto 5px;
}
