.slider-product__radio--quadro:checked ~ .slider-product--quadro .slider-product__paginator-label--quadro::after {
  border: 1px solid $color-black;
}

.slider-product__radio--quadro:focus ~ .slider-product--quadro .slider-product__paginator-label--quadro {
  outline-offset: -2px;
  outline: $color-saffron auto 5px;
}
