.slider-product__radio--selfie:checked ~ .slider-product--selfie .slider-product__paginator-label--selfie::after {
  border: 1px solid $color-black;
}

.slider-product__radio--selfie:focus ~ .slider-product--selfie .slider-product__paginator-label--selfie {
  outline-offset: -2px;
  outline: $color-saffron auto 5px;
}
