.slider-product__table-data {
  font-family: "Gilroy", "Arial", sans-serif;
  @include font-params(36px, 300, 1.33, 0, $color-black);
  padding: 0 0 7px;
}

.slider-product__table-data:nth-child(2) {
  padding-left: 2%;
}
