.catalog__list {
  position: relative;
  @include flex;
  @include reset-indents;
  flex-direction: column;
  padding-bottom: 34px;
  margin-right: 74px;
}

.catalog__list:first-child {
  margin-right: 58px;
}
