.categories__wrapper {
  @include flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  margin-bottom: 34px;
  background-color: $color-main;
  transition: $transition;
}

.categories__link:hover .categories__wrapper,
.categories__link:focus .categories__wrapper {
  background-color: $color-supernova;
}

